@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-cloud-dancer: #f0eee9;
  --color-dark-background: #15171a;
  --color-dark-panel: #25282d;
  --color-primary: #005249;
  --color-primary-dark: #33746d;
}

@custom-variant dark (&:where(.dark, .dark *));
